[Unit]
Description=Monkey HTTP Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/monkey --daemon
PIDFile=/var/run/monkey/monkey.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
